* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#body-container {
  max-width: 540px;
}

div#body-container,
div.fullScreen {
  width: 100%;
  height: 100vh;
}

div.fullScreen form.login {
  min-width: 326px;
  max-width: 552px;
}

form.login {
  box-shadow: 0 0 30px 10px #343434;
}
